In [1]:
#11. 변수에 실수값을 저장한 후 변수에 저장되어 있는 값을 그대로 출력해보자.
a = float(input())
print(a)

1.414213
1.414213

In [2]:
#12. 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.
a = int(input())
b = int(input())
print(a)
print(b)

1
2
1
2

In [3]:
#13. 줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.
a = str(input())
b = str(input())
print(b)
print(a)

a
b
b
a

In [4]:
#14. 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.
a = input()
print(a)
print(a)
print(a)

1
1
1
1

In [5]:
#15. 공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.
a, b = input().split()
a = int(a)
b = int(b)
print(a)
print(b)

1 2
1
2

In [6]:
#16. 공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.
a, b = input().split()
a = str(a)
b = str(b)
print(b)
print(a)

a b
b
a

In [7]:
#17. 정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.
a = input()
print(a, a, a)

computer science
computer science computer science computer science

In [8]:
#18. 24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.
a, b = input().split(':')
print(a, b, sep=":")

3:16
3:16

In [9]:
#19. "연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.
a, b, c = input().split(".")
print(c, b, a, sep="-")

2020.3.4
4-3-2020

In [10]:
#20. 주민번호 입력받아 - 없애고 붙여서출력
a, b = input().split("-")
print(a,b, sep="")

000907-1121112
0009071121112

In [17]:
#21. 5개의 문자로 이루어진 단어 1개가 입력된다. 한줄에 단어 한개씩.
a = input()
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

Hello
H
e
l
l
o

In [12]:
#22. 공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.
a,b = input().split()
print(b,a)

a b
b a

In [13]:
#23. 시:분:초 형식으로 시간이 입력될 때 분만 출력해보자.
a,b,c = input().split(":")
print(b)

17:23:57
23

In [14]:
#24. 알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아 순서대로 붙여 출력하는 프로그램을 작성해보자.
a,b = input().split()
print(a,b, sep="")

hello world
helloworld

In [16]:
#25. 정수 2개를 입력받아합을 출력하는 프로그램을 작성해보자.
a = int(input())
b = int(input())
print(a+b)

123
-123
0

In [18]:
#26. 실수 2개를 입력받아 합을 출력하는 프로그램을 작성해보자.
a= float(input())
b= float(input())
print(a+b)

0.1
0.9
1.0

In [19]:
#27. 10진수를 입력받아 16진수(hexadecimal)로 출력해보자.
a = int(input())
print('%x'%a)

255
ff

In [20]:
#28. 10진수를 입력받아 16진수(hexadecimal) 대문자로 출력해보자
a = int(input())
print('%X'%a)

255
FF

In [21]:
#29. 16진수를 입력받아 8진수(octal)로 출력해보자.
a = int(input(),16)
print('%o'%a)

f
17

In [22]:
#30. 영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력해보자.
a = ord(input())
print(a)

A
65

In [23]:
#31. 10진 정수 1개를 입력받아 유니코드 문자로 출력해보자.
a = int(input())
print(chr(a))

65
A

In [24]:
#32. 입력된 정수의 부호를 바꿔 출력해보자
a = int(input())
print(-a)

-1
1

In [25]:
# 33. 문자 1개를 입력받아 그 다음 문자를 출력해보자
a = ord(input())
print(chr(a+1))

a
b

In [27]:
#34. 정수 2개(a, b)를 입력받아 a에서 b를 뺀 차를 출력하는 프로그램을 작성해보자.
a, b = input().split()
a = int(a)
b= int(b)
print(a-b)

123 -123
246

In [28]:
#35. 실수 2개(f1, f2)를 입력받아 곱을 출력하는 프로그램을 작성해보자.
a, b = input().split()
a = float(a)
b = float(b)
print(a*b)

2.0 4.0
8.0

In [29]:
#36. 단어와 반복 횟수를 입력받아 여러 번 출력해보자.
a, b = input().split()
b = int(b)
print(a*b)

love 3
lovelovelove

In [30]:
#37. 반복 횟수와 문장이 줄을 바꿔 입력된다. 
a= int(input())
b= input()
print(b*a)

3
I love CS
I love CSI love CSI love CS

In [31]:
#38. 정수 2개(a, b)를 입력받아 a를 b번 곱한 거듭제곱을 출력하는 프로그램을 작성해보자.
a = int(input())
b = int(input())
print(a**b)

2
10
1024

In [32]:
#39. 실수 2개(f1, f2)를 입력받아 f1을 f2번 거듭제곱한 값을 출력하는 프로그램을 작성해보자.
a = float(input())
b = float(input())
print(a**b)

2.0
4.0
16.0

In [33]:
#40. 정수 2개(a, b) 를 입력받아 a를 b로 나눈 몫을 출력해보자.
a = int(input())
b = int(input())
print(a//b)

10
3
3